<div>
  <table id="memberships-datatable" data-source="<%= memberships_path(format: :json) %>" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>