<div class="container">
	<div class="columns">

		<div class="column col-5">
		</div>
		<div class="divider-vert"></div>
		<div class="column col-5">
			<%= render partial: 'form', object: @membership %>
		</div>
	</div>
</div>
