<% if @membership.persisted? %>
  <div class="membership-header">
  	<div class="h4 membership-title">Membership #<%= @membership.number %></div>
    <div class="membership-actions">
      <%= link_to "Delete membership", membership_path(@membership), method: :delete, data: { confirm: 'Are you sure you want to delete this membership?' }, class: 'delete-membership btn btn-error' %>
    </div>

  </div>
<% end %>

<ul class="tab tab-block">
  <li class="tab-item active members-tab">
    <a href="#">Members</a>
  </li>
  <li class="tab-item appointments-tab">
    <a href="#" class="">Appointments</a>
  </li>
</ul>

<div class="membership-form">
	<%= render partial: 'form', object: @membership %>
</div>

<% unless @membership.appointments.empty? %>
	<div class="membership-appointments hide">
		<%= render partial: 'appointments', object: @membership.appointments %>
	</div>
<% end %>