<div class="container">
	<div class="columns">

		<div class="column col-5">
			Today's Appointments

			<div class="accordions">
				<div class="time-slot accordion">
					12:30-13:00
					<ul class="appointments">
						<li class="appointment">First biii</li>
						<li class="appointment">Second biii</li>
					</ul>
				</div>

				<div class="time-slot accordion">
				13:00-13:30
					<ul class="appointments">
						<li class="appointment">First biii</li>
						<li class="appointment">Second biii</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="divider-vert"></div>
		<div class="column col-5">
			<div><%= link_to("Checkout", new_checkout_path) %></div>
			<div><%= link_to("Schedule an appointment", new_appointment_path) %></div>
			<div><%= link_to("Create a membership", new_membership_path) %></div>
		</div>
	</div>
</div>