<div class="container">
	<div class="dashboard-buttons">
		<%= link_to("Schedule appointment", new_appointment_path, class: 'btn btn-primary') %>
		<%= link_to("Create a membership", new_membership_path, class: 'btn btn-primary') %>
	</div>
	<div class="dashboard-divider divider"></div>

	<div class="columns dashboard-columns">
		<div class="column col-5">
			<div id="todays-appointments"></div>
			<div class="divider"></div>
			<div id="current-timeslot"></div>
			<div id="timeslot-view" class="d-invisible">
				<div>
				  <table id="timeslot-appointments-table" class="table table-hover">
				    <thead>
				      <tr>
				        <th>Name</th>
				        <th># People</th>
				        <th>Actions</th>
				      </tr>
				    </thead>
				    <tbody>
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
		<div class="divider-vert"></div>
		<div class="column col-6 text-center">
			<div class="dashboard-membersearch">
			  <table id="members-datatable" data-source="<%= members_path(format: :json)%>" class="table table-striped table-hover cell-border compact">
			    <thead>
			      <tr>
			        <th>Membership #</th>
			        <th>First Name</th>
			        <th>Last Name</th>
			        <th>Birth</th>
			        <th>Phone</th>
			        <th>Email</th>
			      </tr>
			    </thead>
			    <tbody>
			    </tbody>
			  </table>
			</div>
		</div>

	</div>
</div>