/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
*= require datatables
 *= require_self
 *= require spectre
 *= require fullcalendar
 *= require chosen
*/

.navbar {
    font-size: 2em;
    border-bottom: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.accordions {
    margin:1em 0
}
.accordions {
    cursor:pointer;
    margin:0 0 1px 0;
    padding:4px 10px
}
.accordion .current {
    cursor:default
}
.accordions div.accordion {
    padding:5px 10px
}

.btn {
	margin: 5px;
	display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 10px;
}

.grid-item {
  border-radius: 5px;
  padding: 20px;
}

.cancel {
	float: right;
}

.add-item {
	max-width: 150px;
	float: left;
}

.add-member {
	max-width: 150px;
	float: left;
	margin-right: 30px;
}

.checkout-submit {
	float: right;
}

.new_checkout {
	text-align: center;
}

.point_of_contact {
	color: #3634d2;
}

#new_appointment {
	text-align: center;
}

#create_appointment {
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline;
}

.timeslot-view {

}