/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
*= require datatables
 *= require_self
 *= require spectre
 *= require fullcalendar
 *= require chosen
*/

body {
	background-color: #fbfbfc;
}

.hide {
	display: none;
}

ul.unstyled {
	list-style: none;
}

.big-divider {
	margin-top: 30px;
	margin-bottom: 30px;
}

.navbar {
    border-bottom: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.navbar .site-title {
	font-size: 2em;
}

.accordions {
    margin:1em 0
}
.accordions {
    cursor:pointer;
    margin:0 0 1px 0;
    padding:4px 10px
}
.accordion .current {
    cursor:default
}
.accordions div.accordion {
    padding:5px 10px
}

.btn {
	margin: 5px;
	display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 10px;
}

.grid-item {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.cancel {
	float: right;
}

.add-item {
	max-width: 150px;
	margin-right: 50px;
	float: left;
}

.add-member {
	max-width: 150px;
	float: left;
	margin-right: 30px;
}

.checkout-submit {
	float: right;
}

.checkout-buttons {
	display: inline-block;
}

.checkout-notes {
	color: #ef5d60;
}

.new_checkout {
	text-align: center;
}

.edit_checkout {
	text-align: center;
}

.point_of_contact {
	color: #ea6b3b;
}

#new_appointment {
	text-align: center;
}

#create_appointment {
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline;
}

#timeslot-view {
	padding-top: 25px;
}

table#memberships-datatable {
	width: 90% !important;
}

table#memberships-datatable tr {
	cursor: pointer;
}

.fc-content {
	text-align: center;
	cursor: pointer;
}

.blue-background {
	background-color: #d3e0f2cc !important;
}

.title {
	font-size: 1.3em;
	font-weight: 1.3em;
	text-align: center;
}

.account-header {
	font-size: .7em;
}

.appointments-header {
	text-align: center;
}

.flashes {
	font-size: .7em
}

.flash.success {
	color: green;
}

.flash.error {
	color: red;
}

.dashboard-membersearch {
	/*margin-top: 50px;*/
}

.dashboard-divider {
	margin-top: 20px;
	margin-bottom: 30px;
}

.dashboard-buttons {
	display: flex;
	justify-content: center;
}

.dashboard-columns {
	display: flex;
	justify-content: center;
}

#todays-appointments tr {
	cursor: pointer;
}

.tab-block {
	margin-bottom: 20px;
}

.membership-title {
	text-align: center;
}

.member-age {
	color: #4d9bf8;
	margin-bottom: 15px;
}

.margin-bottom {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 40px;
}

.appointment-columns {
	justify-content: center;
}



/*Metrics*/

#top-items-date {
	float: left;
	margin-right: 10px;
}

.item-chart-start-date-field {
  float: left;
}

.appoinment-chart-start-date-field {
  float: left;
}

