<div class="container">
	<div class="columns">
		<div class="column col-5">
			<div class='h5'>Total: <%= CheckoutItem.sum(:count) %> </div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Item</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody>
					<% CheckoutItem.top_items.each do |item, total| %>
						<tr>
							<td>
								<%= item %>
							</td>
							<td>
								<%= total %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="divider-vert"></div>
		<div class="column col-6">
			<canvas id='canvas'></canvas>
			<div id='top-for-day' class='d-invisible'>
				<div id='top-items-date'></div>
				<div>
					<table id="top-for-day-table" class="table table-hover">
						<thead>
							<tr>
								<th>Item</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>