<div>
  <table id="members-datatable" data-source="<%= members_path(format: :json)%>" class="table table-striped table-hover cell-border compact">
    <thead>
      <tr>
        <th>Membership ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Document Number</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <%= link_to("Create a membership", new_membership_path, class: 'btn btn-primary') %>

</div>